/* line 1, ../scss/_grid.scss */
.row {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 8, ../scss/_grid.scss */
.col-1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 17, ../scss/_grid.scss */
.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 1, ../scss/_map.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_map.scss */
.map_box_container {
  position: relative;
  width: 400px !important;
}

/* line 11, ../scss/_map.scss */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* line 18, ../scss/_map.scss */
#aa, #bb {
  display: block;
  height: 2.5em;
  margin: 2em;
  width: 16em;
  border-radius: 0.4em;
}

/* line 26, ../scss/_map.scss */
p {
  margin: 0.5em 0 0 0.8em;
  color: #fff;
  font-size: 1.6em;
}

/* line 7, ../scss/styles.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 11, ../scss/styles.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Muli", sans-serif;
}

/* line 16, ../scss/styles.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/styles.scss */
body {
  overflow: hidden;
  background-color: #e75167;
}

/* line 28, ../scss/styles.scss */
.mapboxgl-ctrl-top-left {
  display: none;
}

/* line 32, ../scss/styles.scss */
.form-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 40, ../scss/styles.scss */
h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 15px 0;
  color: white;
}

/* line 47, ../scss/styles.scss */
#showRoute {
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* line 58, ../scss/styles.scss */
.input-container {
  width: 50%;
  position: relative;
}

/* line 63, ../scss/styles.scss */
.input-arrow {
  position: absolute;
  max-height: 100%;
  right: 0;
  padding: 2% 5%;
  cursor: pointer;
}

/* line 73, ../scss/styles.scss */
.final-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
/* line 78, ../scss/styles.scss */
.final-container .final-inner {
  margin: 10px;
}
/* line 81, ../scss/styles.scss */
.final-container .final-inner:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/* line 85, ../scss/styles.scss */
.final-container .final-inner #map {
  border-radius: 5px;
}

/* line 92, ../scss/styles.scss */
#destination .input-container, #dates .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 95, ../scss/styles.scss */
#destination .input-container p, #dates .input-container p {
  text-align: center;
  margin: 3px 10px 0 0;
}
/* line 100, ../scss/styles.scss */
#destination .input-container > *:first-child, #dates .input-container > *:first-child {
  margin-right: 10px;
}

/* line 107, ../scss/styles.scss */
#groupSize .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 113, ../scss/styles.scss */
#splitCost .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 117, ../scss/styles.scss */
#splitCost .input-container :not(:last-child) {
  margin-right: 20px;
}

/* line 123, ../scss/styles.scss */
.unselectable {
  pointer-events: none;
  opacity: 0.5;
}

/* line 128, ../scss/styles.scss */
.total-cost {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

/* line 134, ../scss/styles.scss */
button {
  padding: 2% 5%;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
/* line 142, ../scss/styles.scss */
button:hover {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

/* line 148, ../scss/styles.scss */
.button-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 156, ../scss/styles.scss */
.button-container:last-child {
  margin-right: 20px;
}

/* line 160, ../scss/styles.scss */
.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 165, ../scss/styles.scss */
.content-inner p {
  color: #e75167;
  font-size: 16px;
}
/* line 169, ../scss/styles.scss */
.content-inner p .price {
  font-size: 20px;
}
/* line 173, ../scss/styles.scss */
.content-inner p .price-small {
  font-size: 12px;
}

/* line 179, ../scss/styles.scss */
.vehicle-select-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 183, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container:not(:last-child) {
  margin-right: 20px;
}
/* line 187, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, white));
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
/* line 205, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container * {
  pointer-events: none;
}
/* line 209, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container:hover {
  background-position: left bottom;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 10px 10px 60px -35px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 60px -35px rgba(0, 0, 0, 0.75);
}
/* line 216, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container:hover > .vehicle-inner {
  background-position: left bottom;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}
/* line 221, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container:hover .vehicle-inner .content-inner p {
  color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/* line 226, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container:hover h3 {
  color: #e75167;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/* line 233, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container img {
  width: 80%;
}
/* line 237, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container h3 {
  font-weight: 300;
  font-size: 24px;
  color: white;
}
/* line 243, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container .vehicle-inner {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), color-stop(50%, #e75167));
  background: linear-gradient(to left, white 50%, #e75167 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
/* line 254, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container .vehicle-inner .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 258, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container .vehicle-inner .content-inner p {
  color: #e75167;
  font-size: 16px;
}
/* line 262, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container .vehicle-inner .content-inner p .price {
  font-size: 20px;
}
/* line 266, ../scss/styles.scss */
.vehicle-select-inner .vehicle-container .vehicle-inner .content-inner p .price-small {
  font-size: 12px;
}

/* line 276, ../scss/styles.scss */
.arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  background-color: white;
  min-height: 100%;
  padding: 2% 5%;
  margin-left: 10px;
}
/* line 290, ../scss/styles.scss */
.arrow-container .input-arrow {
  position: static;
  height: 1em;
}

/* line 297, ../scss/styles.scss */
input[type=text], input[type=date], input[type=number] {
  width: 100%;
  background-color: #ffffff;
  color: #383838;
  font-size: 20px;
  padding: 8px 25px;
  border: none;
  outline: none;
}
/* line 309, ../scss/styles.scss */
input[type=text]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder {
  color: #e75167;
  opacity: 1;
}
input[type=text]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder {
  color: #e75167;
  opacity: 1;
}
input[type=text]::-ms-input-placeholder, input[type=date]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder {
  color: #e75167;
  opacity: 1;
}
input[type=text]::placeholder, input[type=date]::placeholder, input[type=number]::placeholder {
  color: #e75167;
  opacity: 1;
}

/* line 316, ../scss/styles.scss */
.hide {
  display: none;
}

/* line 320, ../scss/styles.scss */
.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: show 1s;
          animation: show 1s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30em);
            transform: translateX(30em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30em);
            transform: translateX(30em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}
/* line 337, ../scss/styles.scss */
.input-error {
  background-color: #383838 !important;
  color: white !important;
  -webkit-animation: error-shake 0.2s;
          animation: error-shake 0.2s;
}

@-webkit-keyframes error-shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  60% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  80% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes error-shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  60% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  80% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */